
{% extends 'base.html' %}
{% block content %}
<font size="+1" color="red">{{msg}}
</font>
<center>
<h2>Registration</h2><br>

<form method="post" action="/usignupaction/">
	{% csrf_token %} 
<table  width="50%" cellspacing="10">
                    <tr><td><input class="form-control"  type="text" name="name" placeholder="Name" required="required" ></input></td></tr>
                    <tr><td><input class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"  type="email" name="email" placeholder="Example:sanju999@gmail.com" required="required" onblur="validate1()"></input></td></tr>
                    <tr><td><input class="form-control" pattern="[0-9]{10,10}" type="text" name="ph" placeholder="Phone" required="required" onblur="validate3()"></input></td></tr>

	                   
						
						<tr><td>Select Gender
						<select class="form-control" name="gen">
							<option value="Male" selected>Male
							<option value="Female">Female
						</select>
						</td></tr>
											
					<tr><td><br><input class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" type="Password" name="pwd" placeholder="Example:Ushek@156" required="required" onblur="validate5()"></input></td></tr>



					<tr><td><input type="submit" value="Register">
                
</table>
</form>

{% endblock %}